@import url(../styles/global.css);

/* Header */
header{
    display:flex; justify-content: space-between; align-items: center;
    padding:20px 193px;
}

#logo{display:flex; align-items: center; gap:11px;}
#logo>p{font-size: 22px;}

#navBar{
    display:flex; justify-content: space-evenly;
    gap:40px;
}

#navBar>a{color:var(--gray2);}
#navBar>a:nth-child(1){color:white;}

#headerButtons{display:flex; gap:16px;
text-transform: capitalize;}

#logIn{padding:10px 24px;}
#tryForFree{padding:10px 24px; 
    background-color: var(--primaryGreen); color: black; 
    border-radius: 40px;}

/* main */

main{
    display:flex; justify-content: space-evenly; align-items: center;
    padding: 60px 166px;
}

#batch{
    display:flex; align-items: center; 
    border: 2px solid var(--gray2);
    border-radius: 40px; 
    padding: 10px 12px; 
    width: 25%; gap:12px;
    margin: 20px 0px;
}

#batch>p{text-transform: capitalize; color: var(--primaryGreen);}

#mainText{width: 40%; margin: 20px 0px;}

#mainText>h1{
    font-size: 4em;
}
#mainText>p{color:var(--gray1);}

#mainButtons{display:flex; align-items: center; gap:20px; margin: 20px 0px;}

#getStarted{background-color: var(--primaryGreen); color: black; padding: 14px 24px; border-radius: 40px; font-size: 18px;}

#watchVideo{display: flex; align-items: center;
    background-color: black; border: 2px solid var(--gray1); border-radius: 40px;
    padding: 14px 24px;
    font-size: 18px;}

/* partners */

#partners{
    display:flex; flex-direction: column; justify-content: center; align-items: center;
    background-color: var(--gray4);
    padding:40px 329.5px;
}

#partners>p{
    color: var(--gray1); margin-bottom:40px;
}

#partnersLogos{display:flex; gap:40px;}

/* features */

#features{
    display:flex; flex-direction: column; justify-content: center;align-items: center; padding: 40px 144px;
}

#batchALT{
    display:flex; flex-direction: column;align-items: center; 
    border: 2px solid var(--gray2);
    border-radius: 40px;
    color: var(--primaryGreen); 
    padding: 10px 12px; 
    width: 15%; gap:12px;
    margin: 20px 0px;
}

#featuresText{display:flex; flex-direction: column; align-items: center; margin-bottom:60px;}

#featuresText>h2{font-size: 3em; margin: 20px 0px; text-transform: capitalize;}

#featuresText>p:nth-child(3){color:var(--gray1); width:70%; text-align: center;}

#featuresGrid{
    display:grid; grid-template-columns: repeat(3,1fr); gap:20px;
}

.featuresCard{
    display:flex; flex-direction: column; align-items: center; justify-content: center;
    padding: 48px 36px;
    background-color: var(--gray4); border: 2px solid var(--gray3); border-radius: 14px;
}

.featuresCard>img{
    padding:18px 161px;
}

#featuresCardText{display:flex;align-items: center;flex-direction:column;gap:16px; text-align: center; width: 80%;}

#featuresCardText>p:nth-child(2){
    color: var(--gray1);
}

/* statistics */

#statistics{display:flex; flex-direction: column; justify-content: center;align-items: center; padding: 60px 144px; background-color: var(--gray4);}

#statisticsGrid{
    display:grid; grid-template-columns: repeat(3,1fr); gap:72px;
}

.statisticsCard{
    display:flex; flex-direction: column;align-items: center;
}

.statisticsCard>h2{font-size: 3em; color: var(--primaryGreen);}

.statisticsCard>p{color: var(--gray2); text-transform: capitalize;}

/* future */ /* tem algo errado aqui*/

#futureAside{display:flex; justify-content: space-between; align-items: center; padding:0px 82px; gap:90px;}

#futureAside>img{width: 506px;}

#articleRow{display: flex; flex-direction: column; gap:22px;}

.futureCard{
    display:flex; background-color: var(--gray4); padding: 30px 12px; border: 2px solid var(--gray2); border-radius: 14px; width: 100%;
}

#futureCardText>p:nth-child(1){margin:10px 0px 0px 10px;}

#futureCardText>p:nth-child(2){color: var(--gray1); margin:10px 0px 0px 10px;}

/* FAQ */

#FAQ{display:flex; flex-direction: column; justify-content: center;align-items: center; padding: 60px 144px; background-color: var(--gray4);}

#FAQrows{display:grid; grid-template-rows: repeat(6,1fr); gap: 30px;}

.questions{display:flex; justify-content: space-between; padding:16px 20px; border:2px solid var(--gray2);}

.questions>p{padding-right: 700px;}

/* lading page */

#landingPage{display:flex; flex-direction: column; justify-content: center;align-items: center; padding: 60px 144px;}

#landingPageBTN{background-color: var(--primaryGreen); padding:14px 24px; color:black; margin-top:20px; text-transform: capitalize;}

/* footer */

footer{
    display: flex; justify-content: space-between;align-items: center; padding:60px 78px;
}

#footerLinks{
    display:flex; align-items: flex-start;
    padding:40px 77px; gap:92px;
}

#logo{display:flex; align-items: center;}

#quickLinks>p{font-size: 20px;}
#quickLinks>nav{display: flex; flex-direction: column; gap:12px; margin-top: 20px;}
#quickLinks>nav>a{color: var(--gray1);}

#input{background: none; border:none; border-bottom: 1px solid var(--gray1);}